<div class="list-group">

    <?php if (!$logged) { ?>
    <a href="<?php echo $login; ?>" class="list-group-item">
        <?php echo $text_login; ?>
    </a>
    <a href="<?php echo $register; ?>" class="list-group-item">
        <?php echo $text_register; ?>
    </a>
    <a href="<?php echo $forgotten; ?>" class="list-group-item">
        <?php echo $text_forgotten; ?>
    </a>
    <?php } ?>
    <a href="<?php echo $account; ?>" class="list-group-item">
        <?php echo $text_account; ?>
    </a>

    <?php if ($logged) { ?>
    <a href="<?php echo $order; ?>" class="list-group-item">
        <?php echo $text_order; ?>
    </a>
    <a href="<?php echo $settlements; ?>" class="list-group-item">
        <?php echo $text_settlements; ?>
    </a>
    <a href="<?php echo $real; ?>" class="list-group-item">
        <?php echo $text_real; ?>
    </a>

    <a href="<?php echo $password; ?>" class="list-group-item">
        <?php echo $text_password; ?>
    </a>
    <?php } ?>

    <?php if ($logged) { ?>
    <a href="<?php echo $logout; ?>" class="list-group-item">
        <?php echo $text_logout; ?>
    </a>
    <?php } ?> 

</div>